# This is just an example, all tokens here are invalid. Please create your own .env file with your own tokens and secrets.
 
WEBUI_SECRET_KEY=1032edc6c329a3893e08b3e97fb8cc39a61e316d78f1ac1dcf9c6c7a0d6e560bb1
OLLAMA_BASE_URL=http://host.docker.internal:11434
MCPO_API_KEY=f0ec871d4b56da05ef467a36340b63e50e8259f948bb62d696372512510857dc7d
PA_HOST=10.208.116.31
PA_USERNAME=api_user
PA_PASSWORD=jAYPs3eaGubaPt24sChRPV
PA_TOKEN='LUFRPT10dUZqNEF1UXJ0c2pWWjE0O23XJnWmh2NFpzbkU9K3hBd3JwTVFETU8wRmNlK0wveG91M0JocHhFOThJTmpTWURTYkU4dmVISmFnN2Q4UmFBcWpoemR1NU1SVGZxb3FQSXpmSndpNFNaSTVBZ1lVSksxZnc9PQ=='


